.shopping-bag__header{
  text-align: center;
  margin-top: 100px;
}

.cart-table{
  width:100%;
  text-align:left;
  margin-top: 100px;
  color: #303030;
  font-size:14px;
}

.cart-table th{
  font-size: 12px;
  text-transform: uppercase;
  color: #909090;
  font-weight: normal;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #e5e5e5;
  padding:0 0 10px 10px;
}

.cart-table tr{
  border-bottom: 1px solid #e5e5e5;
}

.cart-table td{
  padding:10px;
}

.cart-product-image img{
  width: 100px;
}

.cart-product-image {
  width:100px;
}

.cart-description {
  width: 500px;
}

.cart-description h2{
  font-size:14px;
  color: #303030;
  margin:0;
  padding:0;
  text-transform: uppercase;
}

.cart-description p{
  font-size:12px;
  color:#e5e5e5;
  margin: 0;
}

.cart-color{
  width: 150px;
}

.cart-size{
  width: 100px;
}

.cart-qty{
  width:100px;
}

.cart-qty input{
  width:30px;
  border:none;
  line-height: 25px;
  text-align: center;
}

.cart-qty button{
  background:none;
  border:none;
  margin:0;
  padding:0;
}

.cart-qty img{
  display:inline;
  margin:0;
}

.qty-control{
  float:right;
  width:11px;
  margin-right: 42px;
}

.cart-amount{
  width:120px;
}

.cart-delete{
  width:60px;
  text-align: center;
}

.cart-delete a{
  color: inherit;
}

.cart-total{
  background-color: #f9f9f9;
  line-height: 70px;
  margin-top:5px;
}

tr.cart-total{
  border: none;
}

.cart-total td:first-child{
  font-weight: bold;
  text-align: right;
}

.cart-total td:last-child{
  color: #f68236;
}

.divider{
  text-align: center;
    background: url(../images/divider.png) no-repeat center;
    height: 170px;
    width: 100%;
}

.shippment{
  width:100%;
  border: 1px solid #e5e5e5;
  padding-top: 100px;
}

.shippment__header{
  text-align: center;
}

.shippment__content,
.payment__content{
  width: 585px;
  margin: 100px auto;
}

.control-group{
  margin-bottom: 50px;
}

.control-group-nested{
  display: flex;
}

.control-group-nested .control-group{
  display: inline-block;
  width: 100%;
}

.control-group-nested .control-group + .control-group{
  margin-left: 20px;
}

.control-group label{
  text-transform: uppercase;
  font-size: 12px;
  display: block;
  width: 100%;
  color: #606060;
  margin-bottom: 15px;
}

.control-group label span:{
  text-transform: none;
}

.control-group select{
  border-radius: 0;
  height: 44px;
  background-color: #fff;
  width: 100%;
  border: 1px solid #c2c2c2;
  font-size: 12px;
  -webkit-appearance: none;
  padding: 0 10px;
  background: url('../images/arrow_down.png') no-repeat right;
  background-position-x: 97%;
}

.control-group input{
  width: 100%;
  font-size: 12px;
  border: 1px solid #c2c2c2;
  height: 44px;
  padding-left: 10px;
}

.control-group input[type="checkbox"]{
    border-radius: 0;
    border: 1px solid #c2c2c2;
    vertical-align: bottom;
    position: relative;
    width: 30px;
    top: -1;
    height: 30px;
    top: 7px;
  }

.payment{
  width:100%;
  border: 1px solid #e5e5e5;
  padding-top: 100px;
}

.payment__header{
  text-align: center;
}

.payment__content table{
  margin: 0 auto 75px;
  font-family: 'Georgia', serif;
  font-size: 18px;
  color: #606060;
}

.payment__content td{
  padding-bottom: 25px;
}

.payment__content td:last-child{
  padding-left: 25px;
}

.payment__content td:first-child{
  text-align: right;
}

.payment__content tr:last-child{
  color: #f68236;
}

.payment__content button[type="submit"]{
  text-transform: uppercase;
  width: 195px;
  display: block;
  margin: 0 auto;
}
