*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}

.container{
  max-width: 1180px;
  margin: 0 auto;
}

body{
  font-family: 'Lato', san-serif;
  background-color: #fff;
}

/*
 * header style
 */

header{
  border-bottom: 1px solid #e5e5e5;
}

.shop-links h1{
  font-size:14px;
  width: 42px;
  text-align: center;
  color: #fff;
  background-color: #222;
  font-weight: normal;
  display: inline-block;
  margin: 0;
}

.shop-links ul,
.user-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display:inline-block;
}

.shop-links li,
.user-links li{
  display: inline-block;
  margin-left: 50px;
}

.shop-links,
.user-links{
  display: inline-block;
  line-height: 42px;
  padding: 38px 0;
}

.shop-links a,
.user-links a{
  font-size: 14px;
  color: #222;
  text-decoration: none;
}


.shop-links{
  float: left;
}

.user-links{
  float: right;
}

.user-links-cart::before{
  font-family: 'FontAwesome';
  content: "\f290";
  margin-right: 10px;
  font-size: 17px;
}

.user-links-login::before{
  font-family: 'FontAwesome';
  content: "\f007";
  margin-right: 10px;
  font-size: 17px;
}

a.btn-primary{
  font-size: 14px;
  border: 1px solid #959595;
  color: #757575;
}

.user-links .btn-primary{
  padding: 12px;
  margin-left: 50px;
}

.btn-primary .fa{
  display: inherit;
}


/*
 * slide style
 *
 */
.slider {
  text-align: center;
  padding: 150px 0 140px 0;
}
.slider h1,
.newsletter h3{
  text-transform: uppercase;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.slider h1{
  font-size: 72px;
  letter-spacing: 10px;
  margin: 0 0 40px 0;
}

.slider p,
.newsletter p{
  font-family: 'Georgia', serif;
  color: #606060;
  font-style: italic;
  letter-spacing: 1px;
}
.slider p{
  margin: 0 0 70px 0;
  font-size: 24px;
}

.slider a.btn-primary{
  text-decoration: none;
  text-align: center;
  padding: 25px 32px;
  text-transform: uppercase;
}

/*
 * promotions style
 *
 */
.promotions > div{
  float: left;
  width: 295px;
  height: 295px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding: 120px 40px;
}

.promotions > div h2{
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}

.promotions > div p{
  font-family: 'Georgia', serif;
  font-size: 18px;
  font-style: italic;
  letter-spacing: 1px;
  padding: 0;
  margin: 5px 0 0 0;
}

.promotions .tall-cell {
  height: 590px;
  padding-top: 270px;
}

.promotions .float-right{
  float:right;
}

.promotions > div blockquote.tweet-quote{
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: 'Georgia', serif;
  text-transform: none;
}

.promotions > div .tweet-quote:before{
  font-family: 'FontAwesome';
  content: '- \f099 -';
  display: block;
  margin: -20px 0 5px 0;
  font-size: 23px;
}

blockquote + p{
  text-transform: none;
}

.arrow-before::before{
  font-family: 'FontAwesome';
  content: '\f177';
  display: block;
  margin: -20px 0 5px 0;
}


.bg-gray-60{ background-color: #606060; }
.bg-gray-c2{ background-color: #c2c2c2; }
.bg-gray-ca{ background-color: #cacaca; }
.bg-gray-d0{ background-color: #d0d0d0; }
.bg-gray-d7{ background-color: #d7d7d7; }
.bg-gray-db{ background-color: #dbdbdb; }
.bg-gray-bb{ background-color: #bbbbbb; }
.bg-gray-d2{ background-color: #d2d2d2; }

/*
 * newsletter style
 *
 */
.newsletter{
  text-align: center;
  padding: 145px 0 130px 0;
}

.newsletter h3{
  font-size: 36px;
  letter-spacing: 2px;
}

.newsletter p{
  font-size: 18px;
}

.newsletter input{
  width: 480px;
  line-height: 55px;
  padding-left: 20px;
  font-size: 14px;
}

.newsletter button[type="submit"]{
  background-color: #f68236;
  color: #fff;
  font-size: 14px;
  line-height: 61px;
  border: none;
  box-shadow: none;
  width: 95px;
  padding: 0;
  margin: 0;
  position: relative;
  left: -5px;
}

/*
 * aside style
 *
 */
aside{
  position: relative;
}

aside a{
  display:inline-block;
  width: 50px;
  background-color: #e4e4e4;
  text-align: center;
  line-height: 120px;
  position: absolute;
  top: 0;
}

aside a.left-arrow-slider{
  left:0;
}

aside a.right-arrow-slider{
  right: 0;
}

aside div{
  display: inline-block;
  width: 100%;
  height: 120px;
  background-color: #bbb;
}
